.entry
  %p
    = image_tag "screenshot2.png", :class => "alignleft"
    %h3
      What
      %em
        was
      the problem?
    %p howas.it was created in 2010 after we realized the value of consumer feedback in the service industry.  We've all seen the traditional comment cards at restaurants and other businesses, but let's face it, not many of us have filled out many, if any at all.  It took a while, wasn't convenient, and there really wasn't any benefit for the consumer, other than to hope next time the experience might be more enjoyable thanks to their feedback.  We decided to come up with a way for businesses to get the benefits of consumer feedback while giving them the tools they need to encourage it.
  %br
  %br
  %h3 
    So how
    %em
      did 
    we solve it?
  %p We developed an awesome platform allowing business owners to create consumer feedback surveys easily for each of their locations.  Create surveys and assign them to your business locations on the fly.  We even offer a few templates to get you started.
  %p With our geo-location enabled mobile web-app, all you need to do is point customers to howas.it.  If they're still at your location, the phone will automatically load your survey.  If not, they can pull you up with a quick search, or you can get a customized domain and even QR codes with our premium package.
  %p In addition to surveys, we also allow the option of creating coupons, offers, or rewards to attach to your feedback surveys.  This gives your customers an incentive to leave their feedback.  Everybody wins.
  %p With our notification platform, you can set up email notifications to get alerted when feedback is left.  Get notified every time someone answers a survey, get daily or weekly summaries... It's up to you.