<link rel="image_src" type="image/png" href="http://howas.it/images/qmark-square.png" />
<link rel="image_src" type="image/jpg" href="http://howas.it/images/qmark-square.jpg" />
<meta name="description" content="howas.it helps connect businesses and their customers easier than ever before in new, innovative ways.  Check back soon for more info..." />
<meta name="title" content="howas.it | Connecting Businesses with Their Customers" />